body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.nav {
    text-align: center;
    margin-bottom: 20px;
}
.nav a {
    text-decoration: none;
    color: #337ab7;
    margin-right: 20px;
}
.nav a:hover {
    color: #23527c;
}
.content {
    text-align: center;
}
.content img {
    width: 50%;
    height: auto;
    margin: 20px auto;
}
.download-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.download-button:hover {
    background-color: #23527c;
}
